@import url('https://fonts.googleapis.com/css?family=Athiti|Maitree|Taviraj|Trirong|Prompt:300');

// considered
	// font
	// color
	.text-wu-o {
		color: #ff6a00!important;
	}
	.text-wu-v {
		color: #522b6f!important;
	}
	.text-black {
		color: black!important;
	}
	a:hover .text-dashed-decoration {
		text-decoration: dashed!important;
		text-decoration-color: black!important; 
	}
	// size
	// font-weight
	// hover for link
	

// Text Header

	// WU part
	.wu-header {
		// font-family: 'Trirong', serif;
		font-family: 'Prompt', sans-serif;
		font-weight: 500;
	}
	// Timeline Part
	.wu-header.muted {
		color: #777;
		font-weight: 400;
		margin-left: 1rem !important;
	}


// footer


// index
// timeline

	// sorter, text indicator
	.wu-sorter-head-text {
		// font-family: 'Trirong', serif;
		font-family: 'Prompt', sans-serif;
		// font-family: 'Taviraj', serif;
		font-weight: 600;
		color: #FFF;
	}
	.wu-sorter-text {
		// font-family: 'Trirong', serif;
		font-family: 'Prompt', sans-serif;
		// font-family: 'Taviraj', serif;
		font-weight: 600;
		color: #DDD;
	}
	// categories
	.wu-category-head-text {
		// font-family: 'Trirong', serif;
		font-family: 'Prompt', sans-serif;
		// font-family: 'Taviraj', serif;
		font-weight: 600;
		color: #FFF;
	}
	.wu-category-text {
		// font-family: 'Trirong', serif;
		font-family: 'Prompt', sans-serif;
		// font-family: 'Taviraj', serif;
		font-weight: 600;
		color: #DDD;
	}
	.active .wu-category-text {
		// font-family: 'Trirong', serif;
		font-family: 'Prompt', sans-serif;
		// font-family: 'Taviraj', serif;
		font-weight: 600;
		color: #ff6a00;
	}

	// text in pointer

// post card

		// year indicator

		// categories
		.text-post-categories {
			font-family: 'Athiti', sans-serif;
			color: #666;
		}
		// Title
		.text-post-title {
			font-family: 'Prompt', sans-serif;
			font-size: 1.2rem;
			// font-weight: 300;
			color: #666;
		}
		h4.text-post-title {
			font-weight: 100;
		}
		.post:hover .text-post-title {
			color: #000;
		}
		.text-prompt {
			font-family: 'Prompt', sans-serif ;
		}
		.text-trirong {
			font-family: 'Trirong', serif;
		}
		.text-taviraj {
			font-family: 'Taviraj', serif ;
		}
		.text-maitree {
			font-family: 'Maitree', serif;
		}
		


// post show page
		// post title

		// body
			// text indent
			article.post-body {
				text-indent: 3rem;
				font-family: "Trirong", serif;
			}
		// tags
		.btn.tags {
			font-family: "Maitree", serif;
		}
