.post-thumbnail{
	width: 100%;
	padding-top: 100%;
	position: relative;	
}
.post-thumbnail img {
	max-width:100%;
	height:auto;
	position: absolute;
	display: inline-block;
	height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    border: 8px solid #DDD;
    border-radius: 50%;
}
.post:hover img{
	border-radius: 0;
	transition: all 0.2s ease-in-out;
	border: none;
}