@import url(https://fonts.googleapis.com/css?family=Athiti|Maitree|Taviraj|Trirong|Prompt:300);.post {
  opacity: 0.3;
}

.post .post-thumbnail {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.post .post-thumbnail img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  max-width: 100%;
  height: auto;
  position: absolute;
  display: inline-block;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 14px solid #DDD;
  border-radius: 50%;
}

.post .year-thumbnail {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 85.36%;
  left: 14.64%;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 50%;
  background: #ee7724;
  text-align: center;
  line-height: 50px;
  color: white;
  opacity: 0;
}

.post .post-title {
  cursor: pointer;
}

.post span.cate:after {
  content: ',';
}

.post span.cate:last-of-type:after {
  content: '';
}

.post.current-year {
  opacity: 1;
}

.post.current-year .post-thumbnail img {
  -webkit-filter: none;
          filter: none;
}

.post.current-year .year-thumbnail {
  opacity: 1;
}

.post:hover {
  opacity: 1;
}

.post:hover .post-thumbnail img {
  -webkit-filter: none;
          filter: none;
  border-radius: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
  cursor: pointer;
}

.post:hover .year-thumbnail {
  opacity: 1;
  background: #522b6f;
}

.post-title {
  font-family: 'Maitree', serif;
  color: #666;
}

.post:hover {
  text-decoration: none !important;
}

.post:hover .post-title {
  color: #050505;
  text-decoration: none;
}

@media only screen and (min-width: 968px) {
  .outside-lg-left {
    margin-left: -3%;
    margin-bottom: 2%;
  }
}

/*equals to timeline-nav*/

.sidebar-left {
  display: block;
  background-color: #141b2a;
  color: #FFF;
  /*width:5%;*/
  /*max-width:70px;*/
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-height: 100%;
  z-index: 100;
}

/*equals to .timeline-nav .menu-right*/

.sidebar-left .timeline-nav {
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 55px;
  height: 100%;
}

.collapse-switch {
  width: 55px;
  height: 8%;
  margin-bottom: 20px;
  cursor: pointer;
}

.collapse-switch.on {
  background: url("/storage/timeline-sprite.png") no-repeat 16px -85px transparent;
}

.collapse-switch.off {
  background: url("/storage/timeline-sprite.png") no-repeat 16px 15px transparent;
}

/*equals to .menu-left*/

.collapse-bar {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #18202F;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  width: 0;
  overflow: auto;
}

.collapse-bar.open {
  width: 250px;
  height: 100%;
}

.collapse-bar .menu-side {
  min-width: 250px;
}

.sidebar-left .collapse-bar .sorting {
  padding: 20px 30px;
}

.sidebar-left .collapse-bar .sorting .sorting-toggle {
  text-transform: lowercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  color: #FFF;
  font-weight: bold;
}

.sidebar-left .collapse-bar .sorting .sorting-toggle div {
  padding: 10px 0 10px 22px;
  margin-top: 10px;
  /*display: none;*/
  cursor: pointer;
}

.sidebar-left .collapse-bar .sorting .sorting-toggle .newer {
  background: url(/storage/timeline-sprite.png) no-repeat scroll 0 -396px transparent;
}

.sidebar-left .collapse-bar .sorting .sorting-toggle .older {
  background: url(/storage/timeline-sprite.png) no-repeat scroll 0 -496px transparent;
}

.sidebar-left .collapse-bar .categories {
  background-color: #1d2534;
  padding: 20px 30px;
  /*font-family: "Pressura-Mono-Bold";*/
  font-size: 16px;
  text-transform: lowercase;
}

.sidebar-left .collapse-bar .categories .category-list {
  text-transform: lowercase;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 17px;
  color: #FFF;
  margin: 10px 0 0 -15px;
}

.sidebar-left .collapse-bar .categories .category-list li {
  list-style-type: none;
  left: 0;
  padding: 2px 15px;
  margin-bottom: 2px;
  border-radius: 30px;
  margin-right: 18px;
  font-weight: bold;
}

.sidebar-left .collapse-bar .categories .category-list li {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

.sidebar-left .collapse-bar .categories .category-list li.active {
  color: #ee7724;
}

.sidebar-left .collapse-bar .search {
  padding: 20px 30px;
}

.timeline {
  /*position:relative;
    width:100%;*/
  position: relative;
  /*height: 90%;*/
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: white;
  top: -2%;
  height: 102%;
  left: 15px;
  margin-left: -2px;
}

.timeline .right {
  left: 15px;
}

.timeline .year {
  min-height: 14px;
  padding: 5px 15px 5px 23px;
  position: relative;
  background-color: inherit;
  width: 75%;
}

.timeline .current.year {
  min-height: 50px;
}

div.year {
  left: 15px;
}

.timeline .year::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ee7724;
  border: 2px solid white;
  top: 2px;
  z-index: 1;
  border-radius: 50%;
  left: -5px;
}

.timeline .current.year::after {
  width: 24px;
  height: 24px;
  background-color: #ee7724;
  border: 4px solid white;
  top: 13px;
  z-index: 1;
  border-radius: 50%;
  left: -12px;
}

.timeline .pointer {
  background: url("/storage/timeline-sprite.png") no-repeat 0 -200px transparent;
  width: 67px;
  height: 60px;
  position: absolute;
  margin: -22px 0;
  left: 40%;
  color: #FFF;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  z-index: 5000;
}

.text-black {
  color: black !important;
}

a:hover .text-dashed-decoration {
  -webkit-text-decoration: dashed !important;
          text-decoration: dashed !important;
  -webkit-text-decoration-color: black !important;
          text-decoration-color: black !important;
}

.wu-header {
  font-family: 'Prompt', sans-serif;
  font-weight: 500;
}

.wu-header.muted {
  color: #777;
  font-weight: 400;
  margin-left: 1rem !important;
}

.wu-sorter-head-text {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  color: #FFF;
}

.wu-sorter-text {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  color: #DDD;
}

.wu-category-head-text {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  color: #FFF;
}

.wu-category-text {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  color: #DDD;
}

.active .wu-category-text {
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
  color: #ff6a00;
}

.text-post-categories {
  font-family: 'Athiti', sans-serif;
  color: #666;
}

.text-post-title {
  font-family: 'Prompt', sans-serif;
  font-size: 1.2rem;
  color: #666;
}

h4.text-post-title {
  font-weight: 100;
}

.post:hover .text-post-title {
  color: #000;
}

.text-prompt {
  font-family: 'Prompt', sans-serif;
}

.text-trirong {
  font-family: 'Trirong', serif;
}

.text-taviraj {
  font-family: 'Taviraj', serif;
}

.text-maitree {
  font-family: 'Maitree', serif;
}

article.post-body {
  text-indent: 3rem;
  font-family: "Trirong", serif;
}

.btn.tags {
  font-family: "Maitree", serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

/*equals to .main ul*/

#app ul {
  list-style-position: outside;
  list-style: none;
  /*margin-left: 1em;*/
  /*margin-right: 2em;*/
  padding-left: 0;
}

/*equals to .main ul li*/

#app ul li {
  list-style-type: square;
  position: relative;
  /*left: 1.5em;*/
}

