// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");


// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap.scss";


.post-title {
	font-family: 'Maitree', serif;
	color: #666;
}

a:hover {
	text-decoration: none!important;
}

a:hover .post-title {
	color: #050505;
	text-decoration: none;
}